@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  outline: none;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.tab-active {
  position: relative;
}

.tab-active::before {
  content: "";
  position: absolute;
  top: calc(100% + 28px);
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  @apply bg-primary;
}

.arrow-turn {
  transform: translate(calc(50% + 4px), -50%);
  width: 30px;
  height: 30px;
  z-index: 10;
  @apply absolute right-0 top-2/4 rounded-full;
}

.btn-primary-shadow {
  box-shadow: 0px 20px 30px 0px rgba(20, 92, 230, 0.12);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.hotel-container {
  max-width: 1300px;
  margin: 0 auto;
}

.detail-container {
  max-width: 1240px;
  margin: 0 auto;
}

.calendar {
  .bg-primary {
    color: white;
  }
}

.slick-slider {
  .slick-track {
    display: flex;
    gap: 30px;
  }
}

.slick-slider.explore {
  .slick-track {
    display: flex;
    gap: 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.slider-thumb::before {
  content: attr(data-dot);
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background: #0b2541;
  box-shadow: 0px 8px 17px rgba(15, 15, 15, 0.2);
  @apply flex items-center justify-center px-3 py-2 font-Roboto text-xs font-medium leading-[18px] text-white;
}

.slider-thumb::after {
  position: absolute;
  content: "";
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #0b2541;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded bg-grayC3;
}
